.submit-btn:hover {
    text-decoration: none;
    border-bottom: 4px solid;
    border-color: #FF0080;
}

.submit-btn {
    text-decoration: none;
    border-bottom: 4px solid;
    border-color: transparent;
    margin: 0;
    padding: 0;
}
