.podcastHeading {
  overflow: hidden;
  max-width: 576px;
  color: #F0FFF0;
  text-shadow: 2px 2px 4px #000000;
}

.description{
  color: #F0FFF0;
  background-color: #808080;
  font-weight: lighter;
  text-shadow: 1px 1px 2px #000000;
  max-height: 40%;
}

.author {
  color: #FFC86D;
  text-shadow: 1px 1px 2px #000000;
  float: left;

}

.picInfo {
  flex-shrink: 1;

}
