.podcastHeading {
  max-width: 250px;
  overflow: hidden;
  color: #000000;
  text-shadow: 0.5px 0.5px 1px #FCE6C8;
  padding: 15px;
  background-color: #FFC86D;
}

.description{
  color: #000000;
  background-color: #FCE6C8;
  font-weight: lighter;
  height: 150px;
  opacity: 1;
  float: right;
}

.author {
  color: #000000;
  text-shadow: 0.5px 0.5px 1px #FFC86D;
  opacity: 1;

}

.main {

  max-height: 85%;
    margin-top: 10%;
    margin-left: 0;
    margin-right: 10%;
    margin-bottom: 3%;
}

.img {
  	max-width: 55%;
    max-height: 55%;
      margin-top: 10%;
      margin-left: 0;
      margin-right: 10%;
      margin-bottom: 10%;
}
